header{
    height:70px;
    background-color:#b0bfc5;
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    font-size: 27px;
    
    font-family: 'Montserrat', sans-serif;
}
main{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DCE1E3;
}
.parent-box{
    display: grid;
    height: 30rem;
    grid-template-columns: repeat(3,10rem);
    width: 30rem;
}
.row{
    display: flex;
    height: 33.33%;
}
.box{
    border: 3.3px solid ;
    border-color: #510f0f;
    font-size: 6rem;
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: center;
    margin: -1px;
    font-family: cursive;
}

.x{
    color: rgb(255, 0, 0);
}
.o{
    color: rgb(8, 0, 255);
}